/* LazyLoader.module.scss */

.loaderContainer {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .letterWrapper {
    display: flex;
    gap: 3px;

    .letter {
      font-size: 48px;
      font-weight: 800;
      display: inline-block;
      opacity: 0;
      transform: translateY(20px) scale(0.95);
      animation-name: reveal;
      animation-duration: 0.6s;
      animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
      animation-fill-mode: forwards;

      &.colorRed {
        color: #e50914;
      }

      &.colorBlack {
        color: #111111;
      }
    }
  }
  /* Keyframes */
  @keyframes reveal {
    0% {
      opacity: 0;
      transform: translateY(20px) scale(0.95);
    }
    60% {
      opacity: 1;
      transform: translateY(-4px) scale(1);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}
