@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

/* 

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} 

 @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} 

/* @import "tailwindcss"; */
@font-face {
  font-family: "Bossa";
  src: url("/fonts/Bossa-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bossa";
  src: url("/fonts/Bossa-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Smooth fonts */
body {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #f0f7ff 35%,
    #e9f0ff 70%,
    #f7ecff 100%
  );
  background-color: red ;

  /* font-weight: 400; */
  /* font-family: "Inter", sans-serif; */
  /* -webkit-tap-highlight-color: transparent; */
}

/* body:active,
body:focus {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #f0f7ff 35%,
    #e9f0ff 70%,
    #f7ecff 100%
  );
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bossa", sans-serif;
  font-weight: 700;
}


.globbg {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #f0f7ff 35%,
    #e9f0ff 70%,
    #f7ecff 100%
  );
}


a {
  text-decoration: none;
}


ul,
ol,
li {
  list-style: none;
}

.gradientText {
  background: linear-gradient(90deg, #ff5f6d, #ffc371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.glaccybg {
 
  background: rgba(255, 255, 255, 0.2);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-card {
  width: 240px;
  height: 360px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 12px 6px rgba(255, 255, 255, 0.6);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glass-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}
